<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-2">
      <%= render "public/items/genre_search", genres: @genres %>
    </div>
    <div class="col-10 visual-content">
      <div class="visual-text">
        <p>ようこそ、ながのCAKEへ！
        <br>このサイトは、ケーキ販売のECサイトになります。
        <br>会員ではない方も商品の閲覧はできますが、
        <br>購入には会員登録が必要になります。</p>
      </div>
    </div>
  </div>
</div>