<div class="container">
  <div clas="row">
    <h5>会員一覧</h5>
    <table class="table">
       <thead>
         <tr class="table-secondary">
           <th>会員ID</th>
           <th>氏名</th>
           <th>メールアドレス</th>
           <th>ステータス</th>
         </tr>
       </thead>
       <tbody>
         <% @customers.each do |customer| %>
         <td><%= customer.id %></td>
         <td><%= customer.last_name %><%= customer.first_name %></td>
         <td><%= customer.email %></td>
         <td></td>
         <% end %>
       </tbody>
    </table>
  </div>
</div>